@model LIGHTEX.Models.Category;
@{
    ViewData["Title"] = "Trang chủ";
    Layout = "_Layout";
}
@using LIGHTEX.Models.Domain;
@using Microsoft.AspNetCore.Http;
@using System.Diagnostics;
@using System.Linq;
@using LIGHTEX.Data
@using Microsoft.EntityFrameworkCore;
@using System.Globalization;
@using System.Text.Json;
@using Newtonsoft;
@using Newtonsoft.Json.Linq;

@inject IHttpContextAccessor HttpContextAccessor
@{
    var context = HttpContextAccessor?.HttpContext?.RequestServices.GetService(typeof(LIGHTEXContext)) as LIGHTEXContext;
    var categories = await context.Category.ToListAsync();
    var categoryFirst = await context.Category.FirstOrDefaultAsync();
    var products = await context.Product
                    .Join(context.Brand, p => p.id_brand, b => b.id_brand, (p, b) => new { Product = p, Brand = b })
                    .Where(pb => pb.Product.id_category == categoryFirst.id_category)
                    .ToListAsync();
    var commentList = await context.Comment
    .Join(context.Customer, c => c.id_customer, cu => cu.id_customer, (c, cu) => new { Comment = c, Customer = cu })
    .Join(context.Account, cc => cc.Customer.username, a => a.username, (cc, a) => new { CommentCustomer = cc.Comment, Account = a, Customer = cc.Customer })
    .Where(ccc => ccc.CommentCustomer.id_product == products.FirstOrDefault().Product.id_product)
    .Select(ccc => new
    {
        Comment = ccc.CommentCustomer,
        AccountUsername = ccc.Account.username,
        AccountFullname = ccc.Account.full_name,
        CustomerAvatar = ccc.Customer.avatar
    })
    .ToListAsync();

    List<object> allComments = new List<object>();
    allComments.AddRange(commentList);
    var json = Json.Serialize(allComments);
    var objList = Newtonsoft.Json.JsonConvert.DeserializeObject<List<dynamic>>(json.ToString());


    var productsSearch = await context.Product
                    .Join(context.Brand, p => p.id_brand, b => b.id_brand, (p, b) => new { Product = p, Brand = b })
                    .ToListAsync();
    var commentListSearch = await context.Comment
        .Join(context.Customer, c => c.id_customer, cu => cu.id_customer, (c, cu) => new { Comment = c, Customer = cu })
        .Join(context.Account, cc => cc.Customer.username, a => a.username, (cc, a) => new { CommentCustomer = cc.Comment, Account = a, Customer = cc.Customer })
        .Select(ccc => new
        {
            Comment = ccc.CommentCustomer,
            AccountUsername = ccc.Account.username,
            AccountFullname = ccc.Account.full_name,
            CustomerAvatar = ccc.Customer.avatar
        })
        .ToListAsync();
}
<body>
    <div id="product-image-container" class="absolute top-[-800px] left-[55%] translate-y-[600px] duration-1000 transition-all">
        <img id="product-image" class="w-auto h-[600px]" src="data:image/png;base64,@(Convert.ToBase64String(products.FirstOrDefault().Product.image))" />
    </div>

    <div class="container mx-auto flex justify-between h-[80vh] mt-10">
        <nav class="swiper-nav flex h-full w-16 md:w-[15%] items-center relative">
            <div class="swiper-container relative flex flex-col justify-center items-start gap-5">
                <div class="swiper-wrapper">
                    @foreach (var category in categories)
                    {
                        <div class="swiper-slide">
                            <div data-id="@category.id_category" class="category lg:m-4 relative group flex justify-center items-center w-12 h-12 lg:w-14 lg:h-14 lg:hover:scale-125 transition-all hover:cursor-pointer">
                                <img class="lg:group-hover:invert w-8 h-8 lg:w-10 lg:h-10 transition-all z-20 object-cover" src="data:image/png;base64,@(Convert.ToBase64String(category.icon))" alt="image" />
                                <div class="absolute bg-transparent w-12 h-12 lg:w-14 lg:h-14 rounded-lg lg:group-hover:bg-[#FF6827] z-10 transition-all"></div>
                                <div class="absolute flex left-0 justify-center items-center w-max h-14 lg:group-hover:translate-x-16 transition-all z-0">
                                    <p class="text-[0px] lg:group-hover:text-base pt-1 text-start w-24">@category.name</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </nav>
        <div class="swiper-bot w-[85%] h-full flex flex-col justify-between">
            <div class="w-full h-[70%] bg-gradient-to-br from-[#6D7CD3] to-[#4153AD] rounded-t-[3rem] rounded-b-[1rem]">
                <div class="px-20 py-12 h-full flex relative">
                    <div class="w-[50%]">
                        <h1 class="text-6xl font-bold text-start text-[#FFFFFF]" id="product-name">@products.FirstOrDefault().Product.name</h1>
                        <h3 class="text-5xl font-normal text-start text-[#FFFFFF] mt-4" id="product-price">@products.FirstOrDefault().Product.price.ToString("N0", CultureInfo.CreateSpecificCulture("de-DE")).Replace(",", ".")đ</h3>
                        <div class="mt-14 flex flex-col gap-4">
                            <div>
                                <div class="group flex justify-between items-center w-[70%] lg:hover:cursor-pointer py-2 border-b-[1px] border-[#FFFFFF]" id="title">
                                    <p class="text-2xl font-normal text-start text-[#FFFFFF]">Thông tin sản phẩm</p>
                                    <svg class="mx-4 fill-[#FFFFFF] lg:group-hover:scale-125 w-5 h-auto rotate-180 transition-all z-20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 58.63 31.47" id="arrow">
                                        <path d="M268.73,408.74a2.16,2.16,0,0,1,3.06-3.06l25.66,25.66,25.62-25.66a2.16,2.16,0,0,1,3.06,3.06L299,435.9a2.12,2.12,0,0,1-3,0Z" transform="translate(-268.12 -405.07)" />
                                    </svg>
                                </div>
                                <div class="w-[70%] h-0 my-0 pr-8 transition-all overflow-y-scroll" id="content">
                                    <p class="text-base text-justify text-[#FFFFFF]" id="product-information">@products.FirstOrDefault().Product.information</p>
                                </div>
                            </div>

                            <div>
                                <div class="group flex justify-between items-center w-[70%] lg:hover:cursor-pointer py-2 border-b-[1px] border-[#FFFFFF]" id="title">
                                    <p class="text-2xl font-normal text-start text-[#FFFFFF]">Về nhãn hàng</p>
                                    <svg class="mx-4 fill-[#FFFFFF] lg:group-hover:scale-125 w-5 h-auto rotate-180 transition-all z-20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 58.63 31.47" id="arrow">
                                        <path d="M268.73,408.74a2.16,2.16,0,0,1,3.06-3.06l25.66,25.66,25.62-25.66a2.16,2.16,0,0,1,3.06,3.06L299,435.9a2.12,2.12,0,0,1-3,0Z" transform="translate(-268.12 -405.07)" />
                                    </svg>
                                </div>
                                <div class="w-[70%] h-0 my-0 pr-8 transition-all overflow-y-scroll" id="content">
                                    <p class="text-base text-justify text-[#FFFFFF]" id="product-about-brand">@products.FirstOrDefault().Brand.description</p>
                                </div>
                            </div>

                            <div>
                                <div class="group flex justify-between items-center w-[70%] lg:hover:cursor-pointer py-2 border-b-[1px] border-[#FFFFFF]" id="title">
                                    <p class="text-2xl font-normal text-start text-[#FFFFFF]">Đánh giá</p>
                                    <svg class="mx-4 fill-[#FFFFFF] lg:group-hover:scale-125 w-5 h-auto rotate-180 transition-all z-20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 58.63 31.47" id="arrow">
                                        <path d="M268.73,408.74a2.16,2.16,0,0,1,3.06-3.06l25.66,25.66,25.62-25.66a2.16,2.16,0,0,1,3.06,3.06L299,435.9a2.12,2.12,0,0,1-3,0Z" transform="translate(-268.12 -405.07)" />
                                    </svg>
                                </div>
                                <div class="w-[70%] h-0 my-0 pr-8 transition-all overflow-y-scroll" id="content">
                                    <div class="flex flex-col gap-3" id="product-comment">
                                        @foreach (var obj in objList)
                                        {
                                            <div class="rounded-2xl border border-[#FFFFFF] p-3">
                                                <div class="flex justify-between items-start">
                                                    <div class="flex items-center gap-3">
                                                        @if (obj.customerAvatar == "")
                                                        {
                                                            <div class="flex justify-center items-center w-full h-full">
                                                                <span class="w-10 h-auto">
                                                                    <svg class="fill-[#FFFFFF] w-full h-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 98.39 98.16">
                                                                        <path d="M488.83,134.58a2.14,2.14,0,1,1-3.46-2.53,42.52,42.52,0,0,0,8.22-25.14,44.55,44.55,0,0,0-18.11-35.72,46.78,46.78,0,0,0-53.55,0,44.41,44.41,0,0,0-18.08,35.72,42.24,42.24,0,0,0,8.22,25.14,2.17,2.17,0,0,1-.49,3,2.14,2.14,0,0,1-3-.48,46.65,46.65,0,0,1-9.07-27.67,48.82,48.82,0,0,1,5.24-21.86,48,48,0,0,1,14.66-17.32,49,49,0,0,1,29.28-9.29h0A49,49,0,0,1,478,67.73a48.3,48.3,0,0,1,14.68,17.32,48.8,48.8,0,0,1,5.22,21.86,46.65,46.65,0,0,1-9.07,27.67Zm-36.31-7.49a4.58,4.58,0,0,1,.56.14c7.52.77,19.25,3.66,28.46,13.75a2.17,2.17,0,0,1,.14,2.72c-.76,1.16-8.27,11.62-29.9,12.79a2.76,2.76,0,0,1-.65.11c-.68,0-1.36,0-2,0s-1.36,0-2,0a2.76,2.76,0,0,1-.66-.11c-21.62-1.17-29.14-11.63-29.9-12.79a2.17,2.17,0,0,1,.14-2.72c9.21-10.09,20.95-13,28.43-13.75.2,0,.4-.11.6-.14a73.57,73.57,0,0,1,6.86,0Zm-3.43,4.2c-5.67.08-18.17,1.47-28,11.31,2.55,2.83,10.32,9.38,28,9.69,17.68-.31,25.45-6.86,28-9.69-9.83-9.84-22.33-11.23-28-11.31Zm-.37-48a17.92,17.92,0,1,1-12.64,5.25,17.91,17.91,0,0,1,12.64-5.25Zm9.58,8.31a13.54,13.54,0,1,0,4,9.58,13.49,13.49,0,0,0-4-9.58Z" transform="translate(-399.51 -58.44)" />
                                                                    </svg>
                                                                </span>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="flex justify-center items-center w-full h-full">
                                                                <span class="w-6 md:w-10 h-6 md:h-10">
                                                                    <img class="w-full h-full rounded-full border-2 border-[#FFFFFF] object-cover" src="data:image/png;base64,@(Convert.ToBase64String(Convert.FromBase64String(obj.customerAvatar.ToString())))" alt="image" />
                                                                </span>
                                                            </div>
                                                        }
                                                        <div>
                                                            <p class="text-xl font-semibold text-start text-[#FFFFFF]">@obj.accountFullname</p>
                                                            <p class="text-xs text-start text-[#FFFFFF]">@obj.accountUsername</p>
                                                        </div>
                                                    </div>
                                                    <div class="flex items-center">
                                                        @{
                                                            var starCount = obj.comment.star;
                                                            for (int i = 1; i <= 5; i++)
                                                            {
                                                                if (i <= (int)starCount)
                                                                {
                                                                    <svg class="fill-[#FFFFFF] w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100.31 95.6"><path d="M299.63,374.49l10.8,33.45,35.15-.09a2.16,2.16,0,0,1,1.25,3.91h0l-28.49,20.61,10.91,33.39a2.16,2.16,0,0,1-3.43,2.33l-28.26-20.64-28.4,20.72a2.14,2.14,0,0,1-3-.45,2.18,2.18,0,0,1-.31-1.93v0l10.91-33.39-28.46-20.61a2.14,2.14,0,0,1-.48-3,2.2,2.2,0,0,1,1.9-.91l35,.09,10.8-33.45a2.16,2.16,0,0,1,2.72-1.39,2.12,2.12,0,0,1,1.39,1.39Z" transform="translate(-247.43 -372.99)" /></svg>
                                                                }
                                                                else
                                                                {
                                                                    <svg class="fill-[#FFFFFF] w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100.31 95.6"><path d="M299.63,374.49l10.8,33.45,35.15-.09a2.16,2.16,0,0,1,1.25,3.91h0l-28.49,20.61,10.91,33.39a2.16,2.16,0,0,1-3.43,2.33l-28.26-20.64-28.4,20.72a2.14,2.14,0,0,1-3-.45,2.18,2.18,0,0,1-.31-1.93v0l10.91-33.39-28.46-20.61a2.14,2.14,0,0,1-.48-3,2.2,2.2,0,0,1,1.9-.91l35,.09,10.8-33.45a2.16,2.16,0,0,1,2.72-1.39,2.12,2.12,0,0,1,1.39,1.39Zm7.17,36.25-9.21-28.6-9.24,28.6h0a2.16,2.16,0,0,1-2,1.5l-30.05-.05,24.32,17.6h0a2.18,2.18,0,0,1,.8,2.41L272,460.77l24.27-17.68a2.11,2.11,0,0,1,2.55,0l24.29,17.71-9.33-28.48a2.22,2.22,0,0,1,.77-2.5l24.35-17.6-30,.05a2.21,2.21,0,0,1-2.16-1.5Z" transform="translate(-247.43 -372.99)" /></svg>
                                                                }
                                                            }
                                                        }
                                                    </div>
                                                </div>
                                                <div class="mt-4">
                                                    <p class="text-sm text-justify text-[#FFFFFF]">@obj.comment.content</p>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-[50%] h-full flex items-center justify-center">
                        <div class="mt-[80%] flex items-center justify-center gap-10">
                            <div class="flex items-center justify-center gap-3">
                                <button type="submit" class="px-3 py-2 rounded-md text-center text-white bg-[#FFFFFF]/[.5] hover:bg-[#FFFFFF]/[.8] font-medium" id="minusButton">-</button>
                                <p class="text-2xl font-normal text-start text-[#FFFFFF]" id="numberItem">1</p>
                                <button type="submit" class="px-3 py-2 rounded-md text-center text-white bg-[#FFFFFF]/[.5] hover:bg-[#FFFFFF]/[.8] font-medium" id="plusButton">+</button>
                            </div>
                            <button type="submit" class="px-4 py-2 rounded-md text-center text-white bg-[#FF6827] hover:bg-[#FF6827]/[.9] font-medium">
                                Thêm vào giỏ hàng
                            </button>
                        </div>
                    </div>
                    <span class="absolute hover:scale-125 hover:cursor-pointer top-12 right-20 transition-all z-20">
                        <svg class="fill-[#FFFFFF] w-10 h-auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 81.72 67.92">
                            <path d="M293.88,395a2.15,2.15,0,1,1-3.63,2.32,15,15,0,0,0-12.42-6.18c-8.81,0-13.75,3.38-15.76,8.48a21.36,21.36,0,0,0-.93,10.46,43.6,43.6,0,0,0,3.71,12.56c6.41,14.23,19.56,27.72,32.57,27.78s26.19-13.55,32.6-27.78a44.56,44.56,0,0,0,3.71-12.56,21.72,21.72,0,0,0-.93-10.46c-2.05-5.1-6.95-8.48-15.76-8.48-18.23,0-18,18.17-18,18.23a2.16,2.16,0,0,1-4.31,0c0-.06-.29-22.56,22.31-22.56,10.88,0,17.09,4.47,19.75,11.22A25,25,0,0,1,338,410.63a47.81,47.81,0,0,1-4.05,13.8c-7,15.51-21.57,30.14-36.31,30.33h-.43c-14.74-.19-29.34-14.82-36.31-30.33a48.54,48.54,0,0,1-4.08-13.8,25.46,25.46,0,0,1,1.24-12.56c2.67-6.75,8.85-11.22,19.76-11.22A19.42,19.42,0,0,1,293.88,395Z" transform="translate(-256.57 -386.85)" />
                        </svg>
                    </span>
                </div>
            </div>
            <div class="swiper-container relative w-full h-[28%] bg-[#4153AD] rounded-t-[1rem] rounded-b-[3rem]">
                <div class="swiper-wrapper" id="product-list">
                    @foreach (var product in products)
                    {
                        <div class="swiper-slide flex flex-col justify-center items-center">
                            <div class="products group relative flex flex-col items-center w-36 hover:cursor-pointer">
                                <img class="lg:group-hover:scale-125 w-32 h-32 transition-all object-cover z-10"
                                 alt="image"
                                 src="data:image/png;base64,@(Convert.ToBase64String(product.Product.image))" />
                                <name class="text-[#FFFFFF] text-base text-center pt-4 lg:group-hover:pt-8 transition-all">@product.Product.name</name>
                                <price class="hidden">@product.Product.price</price>
                                <information class="hidden">@product.Product.information</information>
                                <about-brand class="hidden">@product.Brand.description</about-brand>
                                @{
                                    allComments.Clear();
                                    commentList = (await context.Comment
                                    .Join(context.Customer, c => c.id_customer, cu => cu.id_customer, (c, cu) => new { Comment = c, Customer = cu })
                                    .Join(context.Account, cc => cc.Customer.username, a => a.username, (cc, a) => new { CommentCustomer = cc.Comment, Account = a, Customer = cc.Customer })
                                    .Where(ccc => ccc.CommentCustomer.id_product == product.Product.id_product)
                                    .Select(ccc => new
                                    {
                                        Comment = ccc.CommentCustomer,
                                        AccountUsername = ccc.Account.username,
                                        AccountFullname = ccc.Account.full_name,
                                        CustomerAvatar = ccc.Customer.avatar
                                    })
                                    .ToListAsync());
                                    allComments.AddRange(commentList);
                                    json = Json.Serialize(allComments);
                                    objList = Newtonsoft.Json.JsonConvert.DeserializeObject<List<dynamic>>(json.ToString());
                                }
                                <div class="product-comment hidden">@Json.Serialize(allComments)</div>
                                <img class="absolute top-[-60px] w-full h-80 opacity-0 lg:group-hover:opacity-50 transition-all z-0" src="~/assets/bg-chooseLight.png" />
                            </div>
                        </div>
                    }
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        var mySwiperNav = new Swiper('.swiper-nav .swiper-container', {
            direction: 'vertical',
            slidesPerView: 5,
            navigation: {
                prevEl: '.swiper-nav .swiper-button-prev',
                nextEl: '.swiper-nav .swiper-button-next',
            },
            mousewheel: true,
        });

        var mySwiperBot = new Swiper('.swiper-bot .swiper-container', {
            slidesPerView: 4,
            navigation: {
                prevEl: '.swiper-bot .swiper-button-prev',
                nextEl: '.swiper-bot .swiper-button-next',
            },
            grabCursor: true,
        });

        $(function () {
            $('.category').click(function () {
                var idCategory = $(this).data('id');
                var productsSearch = @Html.Raw(Json.Serialize(productsSearch));
                var comments = @Html.Raw(Json.Serialize(commentListSearch));
                console.log(comments)
                var filteredProducts = productsSearch.filter(function (product) {
                    return product.product.id_category === idCategory;
                });
                var productList = $('#product-list');
                productList.empty();
                $.each(filteredProducts, function (index, product) {
                    var commentsFiltered = comments.filter(function (comment) {

                        return comment.comment.id_product === product.product.id_product;
                    });
                    var productHTML = '<div class="swiper-slide flex flex-col justify-center items-center">';
                    productHTML += '<div class="products group relative flex flex-col items-center w-36 hover:cursor-pointer">';
                    productHTML += '<img class="lg:group-hover:scale-125 w-32 h-32 transition-all object-cover z-10" alt="image" src="data:image/png;base64,' + product.product.image + '"/>';
                    productHTML += '<name class="text-[#FFFFFF] text-base text-center pt-4 lg:group-hover:pt-8 transition-all">' + product.product.name + '</name>';
                    productHTML += '<price class="hidden">' + product.product.price + '</price>';
                    productHTML += '<information class="hidden">' + product.product.information + '</information>';
                    productHTML += '<about-brand class="hidden">' + product.brand.description + '</about-brand>';
                    productHTML += '<div class="product-comment hidden">' + JSON.stringify(commentsFiltered) + '</div>';
                    productHTML += '<img class="absolute top-[-60px] w-full h-80 opacity-0 lg:group-hover:opacity-50 transition-all z-0" src="/assets/bg-chooseLight.png" />';
                    productHTML += '</div></div>';
                    productList.append(productHTML);
                });
            });
        });



        $(document).on('click', '.products', function () {
            var productComment = $(this).find('.product-comment').text();
            var objList = JSON.parse(productComment);
            var commentHtml = '';
            objList.forEach(function (obj) {
                commentHtml += '<div class="rounded-2xl border border-[#FFFFFF] p-3">';
                commentHtml += '<div class="flex justify-between items-start">';
                commentHtml += '<div class="flex items-center gap-3">';
                if (obj.customerAvatar == "") {
                    commentHtml += '<div class="flex justify-center items-center w-full h-full">';
                    commentHtml += '<span class="w-10 h-auto">'
                    commentHtml += '<svg class="fill-[#FFFFFF] w-full h-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 98.39 98.16">'
                    commentHtml += '<path d="M488.83,134.58a2.14,2.14,0,1,1-3.46-2.53,42.52,42.52,0,0,0,8.22-25.14,44.55,44.55,0,0,0-18.11-35.72,46.78,46.78,0,0,0-53.55,0,44.41,44.41,0,0,0-18.08,35.72,42.24,42.24,0,0,0,8.22,25.14,2.17,2.17,0,0,1-.49,3,2.14,2.14,0,0,1-3-.48,46.65,46.65,0,0,1-9.07-27.67,48.82,48.82,0,0,1,5.24-21.86,48,48,0,0,1,14.66-17.32,49,49,0,0,1,29.28-9.29h0A49,49,0,0,1,478,67.73a48.3,48.3,0,0,1,14.68,17.32,48.8,48.8,0,0,1,5.22,21.86,46.65,46.65,0,0,1-9.07,27.67Zm-36.31-7.49a4.58,4.58,0,0,1,.56.14c7.52.77,19.25,3.66,28.46,13.75a2.17,2.17,0,0,1,.14,2.72c-.76,1.16-8.27,11.62-29.9,12.79a2.76,2.76,0,0,1-.65.11c-.68,0-1.36,0-2,0s-1.36,0-2,0a2.76,2.76,0,0,1-.66-.11c-21.62-1.17-29.14-11.63-29.9-12.79a2.17,2.17,0,0,1,.14-2.72c9.21-10.09,20.95-13,28.43-13.75.2,0,.4-.11.6-.14a73.57,73.57,0,0,1,6.86,0Zm-3.43,4.2c-5.67.08-18.17,1.47-28,11.31,2.55,2.83,10.32,9.38,28,9.69,17.68-.31,25.45-6.86,28-9.69-9.83-9.84-22.33-11.23-28-11.31Zm-.37-48a17.92,17.92,0,1,1-12.64,5.25,17.91,17.91,0,0,1,12.64-5.25Zm9.58,8.31a13.54,13.54,0,1,0,4,9.58,13.49,13.49,0,0,0-4-9.58Z" transform="translate(-399.51 -58.44)" />'
                    commentHtml += '</svg>'
                    commentHtml += '</span>'
                    commentHtml += '</div>';
                } else {
                    commentHtml += '<div class="flex justify-center items-center w-full h-full">';
                    commentHtml += '<span class="w-6 md:w-10 h-6 md:h-10">';
                    commentHtml += '<img class="w-full h-full rounded-full border-2 border-[#FFFFFF] object-cover" src="data:image/png;base64,' + btoa(atob(obj.customerAvatar)) + '" alt="image" />';
                    commentHtml += '</span>';
                    commentHtml += '</div>';
                }
                commentHtml += '<div>';
                commentHtml += '<p class="text-xl font-semibold text-start text-[#FFFFFF]">' + obj.accountFullname + '</p>';
                commentHtml += '<p class="text-xs text-start text-[#FFFFFF]">' + obj.accountUsername + '</p>';
                commentHtml += '</div>';
                commentHtml += '</div>';
                commentHtml += '<div class="flex items-center">';
                var starCount = obj.comment.star;
                for (var i = 1; i <= 5; i++) {
                    if (i <= starCount) {
                        commentHtml += '<svg class="fill-[#FFFFFF] w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100.31 95.6"><path d="M299.63,374.49l10.8,33.45,35.15-.09a2.16,2.16,0,0,1,1.25,3.91h0l-28.49,20.61,10.91,33.39a2.16,2.16,0,0,1-3.43,2.33l-28.26-20.64-28.4,20.72a2.14,2.14,0,0,1-3-.45,2.18,2.18,0,0,1-.31-1.93v0l10.91-33.39-28.46-20.61a2.14,2.14,0,0,1-.48-3,2.2,2.2,0,0,1,1.9-.91l35,.09,10.8-33.45a2.16,2.16,0,0,1,2.72-1.39,2.12,2.12,0,0,1,1.39,1.39Z" transform="translate(-247.43 -372.99)" /></svg>';
                    } else {
                        commentHtml += '<svg class="fill-[#FFFFFF] w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100.31 95.6"><path d="M299.63,374.49l10.8,33.45,35.15-.09a2.16,2.16,0,0,1,1.25,3.91h0l-28.49,20.61,10.91,33.39a2.16,2.16,0,0,1-3.43,2.33l-28.26-20.64-28.4,20.72a2.14,2.14,0,0,1-3-.45,2.18,2.18,0,0,1-.31-1.93v0l10.91-33.39-28.46-20.61a2.14,2.14,0,0,1-.48-3,2.2,2.2,0,0,1,1.9-.91l35,.09,10.8-33.45a2.16,2.16,0,0,1,2.72-1.39,2.12,2.12,0,0,1,1.39,1.39Zm7.17,36.25-9.21-28.6-9.24,28.6h0a2.16,2.16,0,0,1-2,1.5l-30.05-.05,24.32,17.6h0a2.18,2.18,0,0,1,.8,2.41L272,460.77l24.27-17.68a2.11,2.11,0,0,1,2.55,0l24.29,17.71-9.33-28.48a2.22,2.22,0,0,1,.77-2.5l24.35-17.6-30,.05a2.21,2.21,0,0,1-2.16-1.5Z" transform="translate(-247.43 -372.99)" /></svg>';
                    }
                }
                commentHtml += '</div>';
                commentHtml += '</div>';
                commentHtml += '<div class="mt-4">';
                commentHtml += '<p class="text-sm text-justify text-[#FFFFFF]">' + obj.comment.content + '</p>';
                commentHtml += '</div>';
                commentHtml += '</div>';

            });

            $('#product-comment').html(commentHtml);
            $('#product-name').text($(this).find('name').text());
            var productPrice = parseInt($(this).find('price').text());
            $('#product-price').text(productPrice.toLocaleString('vi-VN') + "đ");
            var productInformation = $(this).find('information').text();
            $('#product-information').text(productInformation);
            var productAboutBrand = $(this).find('about-brand').text();
            $('#product-about-brand').text(productAboutBrand);
            var productImageSrc = $(this).find('img').attr('src');

            $('#product-image-container').removeClass('translate-y-[600px]').addClass('translate-y-[-600px]');
            setTimeout(function () {

                $('#product-image').attr('src', productImageSrc);
                $('#product-image-container').removeClass('translate-y-[-600px]').addClass('translate-y-[600px]');
            }, 500);
        });

        $(document).ready(function () {
            $('div[id="title"]').click(function () {
                var currentContent = $(this).siblings('#content');
                currentContent.toggleClass('h-0 h-28 my-0 my-4');
                $(this).parent().siblings().find('#content').removeClass('h-28 my-4').addClass('h-0 my-0');
                var currentArrow = $(this).find('#arrow');
                currentArrow.toggleClass('rotate-180 rotate-0');
                $(this).parent().siblings().find('#arrow').removeClass('rotate-0').addClass('rotate-180');
            });
        });

        $(document).ready(function () {
            var numberItem = $("#numberItem");
            var currentNumber = parseInt(numberItem.text());
            $("#minusButton").on("click", function () {
                if (currentNumber > 1) {
                    currentNumber--;
                    numberItem.text(currentNumber);
                }
            });
            $("#plusButton").on("click", function () {
                currentNumber++;
                numberItem.text(currentNumber);
            });
        });
    </script>
</body>