@model LIGHTEX.Models.CustomerViewModel;
@{
    ViewData["Title"] = "Thông tin cá nhân";
    Layout = "_Layout";
}
@using Microsoft.AspNetCore.Authentication.Cookies;
@using System.Security.Claims;
@using LIGHTEX.Data;
@using Microsoft.AspNetCore.Http;
@using System.Globalization;
@using System.Diagnostics;
@using System.Linq;
@using Microsoft.EntityFrameworkCore;

@inject IHttpContextAccessor HttpContextAccessor
@{
    var context = HttpContextAccessor?.HttpContext?.RequestServices.GetService(typeof(LIGHTEXContext)) as LIGHTEXContext;
    var username = HttpContextAccessor?.HttpContext?.User?.Identity?.Name;
    var account = await context.Account.FirstOrDefaultAsync(c => c.username == username && c.permission == 0);
    var customer = await context.Customer.FirstOrDefaultAsync(c => c.username == username);
    if (account == null)
    {
        <script>
            window.location.href = "/Login/Index";
        </script>
    }
}
<body>

    <div class="container mx-auto px-4 flex justify-between h-full py-10">
        <nav class="flex h-full w-12 md:w-[10%] items-center sticky top-[104px]">
            <div class="flex flex-col justify-center items-start gap-5">
                <a asp-area="" asp-controller="Home" asp-action="Information" class="relative group flex justify-center items-center w-12 h-12 lg:hover:scale-125 lg:hover:cursor-pointer transition-all">
                    <svg class="fill-[#333333] lg:group-hover:fill-[#FFFFFF] w-8 lg:w-10 h-10 transition-all z-20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 75.35 76.58"><path d="M297.42,382.37a21.19,21.19,0,1,1-15,6.21,21.21,21.21,0,0,1,15-6.21Zm37.3,73.22a2.12,2.12,0,0,1-.56,3,2.14,2.14,0,0,1-3-.54c-.06,0-14-20.55-34.13-20.6S263.74,457.91,263.72,458a2.16,2.16,0,0,1-3.63-2.36c.05-.05,14.57-22.59,37-22.5s37.62,22.39,37.67,22.48Zm-25.37-63.95a16.88,16.88,0,1,0,4.94,11.93,16.82,16.82,0,0,0-4.94-11.93Z" transform="translate(-259.76 -382.37)" /></svg>
                    <div class="absolute bg-transparent w-12 h-12 lg:w-14 lg:h-14 rounded-lg lg:group-hover:bg-[#FF6827] z-10 transition-all"></div>
                    <div class="absolute flex left-0 justify-center items-center w-max h-12 lg:group-hover:translate-x-16 transition-all z-0">
                        <p class="text-[0px] lg:group-hover:text-base text-start pt-1">Thông tin</p>
                    </div>
                </a>
                <a asp-area="" asp-controller="Home" asp-action="ChangePassword" class="relative group flex justify-center items-center w-12 h-12 lg:hover:scale-125 lg:hover:cursor-pointer transition-all">
                    <svg class="fill-[#333333] lg:group-hover:fill-[#FFFFFF] w-8 lg:w-10 h-10 transition-all z-20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 69.14 94.45"><path d="M411.76,452.46a14.27,14.27,0,0,1,11.14,13.86V507a14.27,14.27,0,0,1-14.23,14.21H368A14.24,14.24,0,0,1,353.76,507v-40.7a14.21,14.21,0,0,1,11.14-13.86V439.53a12.8,12.8,0,0,1,12.73-12.76H399a12.79,12.79,0,0,1,12.75,12.76ZM399,431.11H377.63a8.43,8.43,0,0,0-8.42,8.42V452h38.24V439.53a8.47,8.47,0,0,0-8.44-8.42Zm-8.28,65.28a2.16,2.16,0,1,1-4.31,0v-7.22a10.82,10.82,0,1,1,12.7-10.63,10.76,10.76,0,0,1-8.39,10.51Zm2.18-22.45a6.53,6.53,0,0,0-4.59-1.9,6.44,6.44,0,0,0-4.56,1.9A6.48,6.48,0,0,0,388.32,485a6.49,6.49,0,0,0,6.49-6.46,6.5,6.5,0,0,0-1.9-4.6Zm15.76-17.51H368a9.9,9.9,0,0,0-9.87,9.89V507a9.92,9.92,0,0,0,9.87,9.9h40.7a9.92,9.92,0,0,0,9.89-9.9v-40.7a9.84,9.84,0,0,0-2.89-7,10,10,0,0,0-7-2.91Z" transform="translate(-353.76 -426.77)" /></svg>                <div class="absolute bg-transparent w-12 h-12 lg:w-14 lg:h-14 rounded-lg lg:group-hover:bg-[#FF6827] z-10 transition-all"></div>
                    <div class="absolute flex left-0 justify-center items-center w-max h-12 lg:group-hover:translate-x-16 transition-all z-0">
                        <p class="text-[0px] lg:group-hover:text-base text-start pt-1">Đổi mật khẩu</p>
                    </div>
                </a>
            </div>
        </nav>
        <div class="w-[85%] h-full flex flex-col justify-between">
            <div class="text-xl flex flex-col justify-center items-center mt-5 md:mt-0 relative">
                <h1 class="text-2xl lg:text-4xl text-black font-bold mb-4 text-center">Thông tin cá nhân</h1>
                <div class="flex justify-center items-center mx-2 w-20 h-20 md:hover:scale-125 transition-all hidden" id="image-preview-container">
                    <img class="w-full h-full rounded-full border-4 border-[#333333] object-cover" id="image-preview" alt="Avatar" />
                </div>
                <div class="mx-2 w-20 h-20 md:hover:scale-125 transition-all block" id="image-default-container">
                    @if (customer.avatar.SequenceEqual(new byte[0]))
                    {
                        <svg class="fill-[#333333] w-full h-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 98.39 98.16">
                            <path d="M488.83,134.58a2.14,2.14,0,1,1-3.46-2.53,42.52,42.52,0,0,0,8.22-25.14,44.55,44.55,0,0,0-18.11-35.72,46.78,46.78,0,0,0-53.55,0,44.41,44.41,0,0,0-18.08,35.72,42.24,42.24,0,0,0,8.22,25.14,2.17,2.17,0,0,1-.49,3,2.14,2.14,0,0,1-3-.48,46.65,46.65,0,0,1-9.07-27.67,48.82,48.82,0,0,1,5.24-21.86,48,48,0,0,1,14.66-17.32,49,49,0,0,1,29.28-9.29h0A49,49,0,0,1,478,67.73a48.3,48.3,0,0,1,14.68,17.32,48.8,48.8,0,0,1,5.22,21.86,46.65,46.65,0,0,1-9.07,27.67Zm-36.31-7.49a4.58,4.58,0,0,1,.56.14c7.52.77,19.25,3.66,28.46,13.75a2.17,2.17,0,0,1,.14,2.72c-.76,1.16-8.27,11.62-29.9,12.79a2.76,2.76,0,0,1-.65.11c-.68,0-1.36,0-2,0s-1.36,0-2,0a2.76,2.76,0,0,1-.66-.11c-21.62-1.17-29.14-11.63-29.9-12.79a2.17,2.17,0,0,1,.14-2.72c9.21-10.09,20.95-13,28.43-13.75.2,0,.4-.11.6-.14a73.57,73.57,0,0,1,6.86,0Zm-3.43,4.2c-5.67.08-18.17,1.47-28,11.31,2.55,2.83,10.32,9.38,28,9.69,17.68-.31,25.45-6.86,28-9.69-9.83-9.84-22.33-11.23-28-11.31Zm-.37-48a17.92,17.92,0,1,1-12.64,5.25,17.91,17.91,0,0,1,12.64-5.25Zm9.58,8.31a13.54,13.54,0,1,0,4,9.58,13.49,13.49,0,0,0-4-9.58Z" transform="translate(-399.51 -58.44)" />
                        </svg>
                    }
                    else
                    {
                        <img class="w-full h-full rounded-full border-4 border-[#333333] object-cover" src="data:image/png;base64,@(Convert.ToBase64String(customer.avatar))" alt="Avatar" />
                    }
                </div>
                <form method="post" action="@Url.Action("UpdateCustomer", "Home")" enctype="multipart/form-data">
                    <div class="modal-body py-4 px-6">
                        <div class="flex flex-col justify-center items-center">
                            <div class="my-3">
                                <label for="image-upload" class="bg-gray-100 rounded-lg px-5 py-2 focus:border border-[#FF6827] focus:outline-none text-gray-400 placeholder:opacity-50 font-semibold hover:cursor-pointer">
                                    Chọn hình ảnh
                                </label>
                                <input id="image-upload" name="image" type="file" class="hidden" onchange="previewImage(event)" oninput="checkImage(event)">
                            </div>
                            <div class="mt-3 w-full">
                                <input type="text" placeholder="Tài khoản" asp-for="username" value="@account?.username" readonly
                                       class=" bg-gray-100 rounded-lg px-5 py-2 focus:border border-[#FF6827] focus:outline-none text-black placeholder:text-gray-600 placeholder:opacity-50 font-semibold w-full">
                            </div>
                            <div class="mt-3 w-full">
                                <input type="text" placeholder="Tên người dùng" asp-for="full_name" value="@account?.full_name"
                                       class=" bg-gray-100 rounded-lg px-5 py-2 focus:border border-[#FF6827] focus:outline-none text-black placeholder:text-gray-600 placeholder:opacity-50 font-semibold w-full">
                            </div>
                            <div class="mt-3 w-full">
                                <input type="text" placeholder="Email" asp-for="email" value="@customer.email"
                                       class=" bg-gray-100 rounded-lg px-5 py-2 focus:border border-[#FF6827] focus:outline-none text-black placeholder:text-gray-600 placeholder:opacity-50 font-semibold w-full">
                            </div>
                            <div class="mt-3 w-full">
                                <input type="text" placeholder="Số điện thoại" asp-for="phone" value="@customer.phone"
                                       class=" bg-gray-100 rounded-lg px-5 py-2 focus:border border-[#FF6827] focus:outline-none text-black placeholder:text-gray-600 placeholder:opacity-50 font-semibold w-full">
                            </div>
                            <div class="mt-3 w-full flex justify-between items-center">
                                <input type="text" placeholder="Địa chỉ" asp-for="address" value="@customer.address"
                                       class="bg-gray-100 rounded-lg px-5 py-2 focus:border border-[#FF6827] focus:outline-none text-black placeholder:text-gray-600 placeholder:opacity-50 font-semibold w-[30%]">
                                <input type="text" placeholder="Phường" asp-for="ward" value="@customer.ward"
                                       class="bg-gray-100 rounded-lg px-5 py-2 focus:border border-[#FF6827] focus:outline-none text-black placeholder:text-gray-600 placeholder:opacity-50 font-semibold w-[30%]">
                                <input type="text" placeholder="Thành phố" asp-for="city" value="@customer.city"
                                       class="bg-gray-100 rounded-lg px-5 py-2 focus:border border-[#FF6827] focus:outline-none text-black placeholder:text-gray-600 placeholder:opacity-50 font-semibold w-[30%]">
                            </div>
                            <div class="mt-3 w-full flex gap-2 justify-start">
                                <p class="text-base text-black font-bold my-2 text-start">Số dư tài khoản: </p>
                                <p class="text-base text-gray-600 font-normal my-2 text-start">@customer.money.ToString("N0", CultureInfo.CreateSpecificCulture("de-DE")).Replace(",", ".")đ</p>
                            </div>
                            @if (ViewBag.ErrorMessage != null)
                            {
                                <p class="mt-4 text-[#FF0000]">@ViewBag.ErrorMessage</p>
                            }
                        </div>
                        <div class="text-center mt-7">
                            <button type="submit" class="uppercase px-24 md:px-[118px] lg:px-[140px] py-2 rounded-md text-white bg-[#FF6827] hover:bg-[#FF6827]/[.9] font-medium">
                                Cập nhật
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        function previewImage(event) {
            var input = event.target;
            var preview = document.getElementById('image-preview');
            var previewContainer = document.getElementById('image-preview-container');
            var defaultContainer = document.getElementById('image-default-container');
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    preview.src = e.target.result;
                    previewContainer.classList.remove('hidden');
                    defaultContainer.classList.add('hidden');
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        function checkImage(event) {
            var input = event.target;
            var previewContainer = document.getElementById('image-preview-container');
            var defaultContainer = document.getElementById('image-default-container');
            if (!input.files || !input.files[0]) {
                previewContainer.classList.add('hidden');
                defaultContainer.classList.remove('hidden');
            }
        }
    </script>
</body>