@model LIGHTEX.Models.CustomerViewModel;
@{
    ViewBag.Title = "Quản lý người dùng";
    Layout = "_LayoutAdmin";
}

@using Microsoft.AspNetCore.Http;
@using System.Diagnostics;
@using System.Linq;
@using LIGHTEX.Data
@using Microsoft.EntityFrameworkCore;

@inject IHttpContextAccessor HttpContextAccessor
@{
    int count = 0;
    string searchText = HttpContextAccessor.HttpContext.Request.Query["searchText"];

    var context = HttpContextAccessor?.HttpContext?.RequestServices.GetService(typeof(LIGHTEXContext)) as LIGHTEXContext;
    var customers = context.Customer
    .Join(context.Account,
        c => c.username,
        a => a.username,
        (c, a) => new { Customer = c, Account = a })
        .Where(a => a.Account.permission == 0 && (searchText == null || a.Customer.username.Contains(searchText)))
    .Select(ac => new { ac.Customer, ac.Account.full_name })
    .ToList();
}
<body>
    <div class="flex flex-col gap-5">
        <h1 class="text-4xl text-black font-bold mb-4 text-center">Quản lý người dùng</h1>
        <div class="flex justify-between items-center">
                <a asp-area="" asp-controller="CustomerManagement" asp-action="Create" class="group px-4 py-2 transition-all bg-[#FF6827] hover:bg-[#FF6827]/[.9] flex gap-3 items-center rounded-lg hover:cursor-pointer">
                    <svg class="fill-[#FFFFFF] md:group-hover:scale-125 md:group-hover:cursor-pointer md:group-hover:rotate-90 w-atuo h-5 transition-all" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 88.33 88.33">
                        <path d="M295.28,378.8a2.16,2.16,0,1,1,4.31,0v39.85h39.85a2.16,2.16,0,1,1,0,4.31H299.59v39.85a2.16,2.16,0,1,1-4.31,0V423H255.42a2.16,2.16,0,0,1,0-4.31h39.86Z" transform="translate(-253.27 -376.64)" />
                    </svg>
                    <p class="text-[#FFFFFF]">Tạo</p>
                </a>
            <form method="get" class="relative">
                <div class="flex items-center justify-center">
                    <button id="submitBtn" type="submit" class="icon mx-2 w-auto h-6 absolute right-0 flex md:hover:scale-125 hover:cursor-pointer transition-all" disabled>
                        <svg class="fill-[#333333] w-full h-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 78.31 78.51">
                            <path d="M442,68.16a32.49,32.49,0,0,1,24.89,53.4l.82.83,1-1a2.15,2.15,0,0,1,3.06,0l15.42,15.45a2.12,2.12,0,0,1,0,3L481,146a2.15,2.15,0,0,1-3.06,0l-15.45-15.45a2.21,2.21,0,0,1,0-3.06l.76-.74-.85-.85A32.51,32.51,0,1,1,442,68.16Zm-15.11,34.27a2.16,2.16,0,1,1-2.16,2.15,2.15,2.15,0,0,1,2.16-2.15ZM429,97.24a2.16,2.16,0,0,1-2.72,1.39,2.2,2.2,0,0,1-1.39-2.75s4.93-15.28,18.6-12.22a2.17,2.17,0,0,1,1.64,2.58,2.13,2.13,0,0,1-2.58,1.62C432.74,85.65,429,97.21,429,97.24Zm32.85-16.49a28.19,28.19,0,1,0,8.25,19.92,28,28,0,0,0-8.25-19.92ZM470.16,126l-3.06,3.06,12.39,12.39,3.06-3Z" transform="translate(-409.44 -68.16)" />
                        </svg>
                    </button>
                    <input class="input__search" placeholder="Tìm kiếm..." name="searchText" type="text" onfocus="enableSubmit()" onblur="disableSubmit()">
                </div>
            </form>
        </div>
        <div class="rounded-lg overflow-hidden">
            <table class="w-full">
                <thead>
                    <tr class="h-14 w-full bg-[#6D7CD3] text-[#FFFFFF]">
                        <th class="w-[35%] md:w-[20%] lg:w-[20%] px-3 py-1 text-center">Ảnh đại diện</th>
                        <th class="w-[45%] md:w-[30%] lg:w-[25%] px-3 py-1 text-start">Tài khoản</th>
                        <th class="w-0 md:w-[30%] lg:w-[20%] hidden md:table-cell px-3 py-1 text-start">Tên</th>
                        <th class="w-0 md:w-0 lg:w-[20%] hidden lg:table-cell px-3 py-1 text-start">Email</th>
                        <th class="w-[20%] md:w-[20%] lg:w-[15%] px-3 py-1 text-start"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var customer in customers)
                    {
                        <tr class="h-14 w-full last:rounded-b-lg @(count++ % 2 == 0 ? "bg-[#ececec]" : "bg-[#FFFFFF] border-y border-[#cccccc]")">
                            <td class="w-[35%] md:w-[20%] lg:w-[20%] px-3 py-1 h-14">
                                @if (customer.Customer.avatar.SequenceEqual(new byte[0]))
                                {
                                    <div class="flex justify-center items-center w-full h-full">
                                        <span class="w-10 h-auto">
                                            <svg class="fill-[#333333] w-full h-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 98.39 98.16">
                                                <path d="M488.83,134.58a2.14,2.14,0,1,1-3.46-2.53,42.52,42.52,0,0,0,8.22-25.14,44.55,44.55,0,0,0-18.11-35.72,46.78,46.78,0,0,0-53.55,0,44.41,44.41,0,0,0-18.08,35.72,42.24,42.24,0,0,0,8.22,25.14,2.17,2.17,0,0,1-.49,3,2.14,2.14,0,0,1-3-.48,46.65,46.65,0,0,1-9.07-27.67,48.82,48.82,0,0,1,5.24-21.86,48,48,0,0,1,14.66-17.32,49,49,0,0,1,29.28-9.29h0A49,49,0,0,1,478,67.73a48.3,48.3,0,0,1,14.68,17.32,48.8,48.8,0,0,1,5.22,21.86,46.65,46.65,0,0,1-9.07,27.67Zm-36.31-7.49a4.58,4.58,0,0,1,.56.14c7.52.77,19.25,3.66,28.46,13.75a2.17,2.17,0,0,1,.14,2.72c-.76,1.16-8.27,11.62-29.9,12.79a2.76,2.76,0,0,1-.65.11c-.68,0-1.36,0-2,0s-1.36,0-2,0a2.76,2.76,0,0,1-.66-.11c-21.62-1.17-29.14-11.63-29.9-12.79a2.17,2.17,0,0,1,.14-2.72c9.21-10.09,20.95-13,28.43-13.75.2,0,.4-.11.6-.14a73.57,73.57,0,0,1,6.86,0Zm-3.43,4.2c-5.67.08-18.17,1.47-28,11.31,2.55,2.83,10.32,9.38,28,9.69,17.68-.31,25.45-6.86,28-9.69-9.83-9.84-22.33-11.23-28-11.31Zm-.37-48a17.92,17.92,0,1,1-12.64,5.25,17.91,17.91,0,0,1,12.64-5.25Zm9.58,8.31a13.54,13.54,0,1,0,4,9.58,13.49,13.49,0,0,0-4-9.58Z" transform="translate(-399.51 -58.44)" />
                                            </svg>
                                        </span>
                                    </div>
                                }
                                else
                                {
                                    <div class="flex justify-center items-center w-full h-full">
                                        <span class="w-6 md:w-10 h-auto">
                                            <img class="w-full h-full rounded-full border-2 border-[#333333] object-cover" src="data:image/png;base64,@(Convert.ToBase64String(customer.Customer.avatar))" alt="image" />
                                        </span>
                                    </div>
                                }
                            </td>
                            <td class="w-[45%] md:w-[30%] lg:w-[25%] px-3 py-1"><p class="overflow-hidden overflow-ellipsis">@customer.Customer.username</p></td>
                            <td class="w-0 md:w-[30%] lg:w-[20%] hidden md:table-cell px-3 py-1"><p class="overflow-hidden overflow-ellipsis">@customer.full_name</p></td>
                            <td class="w-0 md:w-0 lg:w-[20%] hidden lg:table-cell px-3 py-1"><p class="overflow-hidden overflow-ellipsis">@customer.Customer.email</p></td>
                            <td class="w-[20%] md:w-[20%] lg:w-[15%] px-3 py-1">
                                <div class="w-14 h-14 flex justify-around items-center gap-2">
                                    <a class="group w-auto h-8 md:hover:scale-125 hover:cursor-pointer md:hover:animate-spin transition-all block" asp-area="" asp-controller="CustomerManagement" asp-action="Update" asp-route-username="@customer.Customer.username">
                                        <svg class="fill-[#333333] w-full h-full group-hover:fill-[#FF6827]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 88.31 77.07">
                                            <path d="M318.44,459.34h-42a2.13,2.13,0,0,1-2-1.27l-10.4-18h0L253.55,421.9a2.17,2.17,0,0,1,0-2.19l10.49-18.17c0-.05,0-.08.06-.11l10.43-18.06a2.16,2.16,0,0,1,1.87-1.1h42a2.14,2.14,0,0,1,1.95,1.27l10.41,18h0l10.49,18.17a2.2,2.2,0,0,1,0,2.19L330.8,440.07l-.09.11-10.43,18.06a2.16,2.16,0,0,1-1.84,1.1Zm-21-58.7a20.18,20.18,0,1,1-14.25,5.92,20.09,20.09,0,0,1,14.25-5.92Zm11.2,8.95a15.85,15.85,0,1,0,4.65,11.2,15.8,15.8,0,0,0-4.65-11.2ZM297.43,455h19.76L327,438s0-.09.06-.12L337,420.79l-9.89-17.09h0l-9.87-17.09H277.68l-9.81,17s-.06.09-.09.12l-9.86,17.09,9.86,17.12h0l9.9,17.1Z" transform="translate(-253.27 -382.27)" />
                                        </svg>
                                    </a>
                                    <form id="delete-form-@customer.Customer.username" method="post" asp-controller="CustomerManagement" asp-action="DeleteCustomer">
                                        <input type="hidden" name="username" value="@customer.Customer.username" />
                                    </form>
                                    <a class="group w-auto h-8 md:hover:scale-125 hover:cursor-pointer md:hover:rotate-90 transition-all block" data-delete="@customer.Customer.username" onclick="event.preventDefault(); showDeleteModal(this);">
                                        <svg class="fill-[#333333] w-full h-full group-hover:fill-[#FF0000]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 63.71 63.71">
                                            <path d="M266.2,392.63a2.16,2.16,0,0,1,3.06-3.06l28.17,28.17,28.18-28.17a2.16,2.16,0,0,1,3.06,3.06L300.5,420.81,328.67,449a2.16,2.16,0,0,1-3.06,3.06l-28.18-28.17L269.26,452A2.16,2.16,0,0,1,266.2,449l28.17-28.17Z" transform="translate(-265.58 -388.95)" />
                                        </svg>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div id="deleteModal" class="modal fixed w-full h-full top-0 left-0 flex items-center justify-center z-30" style="display:none;">
            <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50 z-40"></div>
            <div class="modal-container fixed top-10 left-0 right-0 flex items-center justify-center z-50">
                <div class="bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg overflow-y-auto">
                    <!-- modal header -->
                    <div class="modal-header flex justify-between items-center py-4 px-6">
                        <h3 class="text-lg font-semibold">Xác nhận xóa tài khoản</h3>
                        <button id="modal-delete-close" class="group w-auto h-4 md:hover:scale-125 hover:cursor-pointer md:hover:rotate-90 transition-all block">
                            <svg class="fill-[#333333] w-full h-full group-hover:fill-[#FF0000]" xmlns="http:www.w3.org/2000/svg" viewBox="0 0 63.71 63.71">
                                <path d="M266.2,392.63a2.16,2.16,0,0,1,3.06-3.06l28.17,28.17,28.18-28.17a2.16,2.16,0,0,1,3.06,3.06L300.5,420.81,328.67,449a2.16,2.16,0,0,1-3.06,3.06l-28.18-28.17L269.26,452A2.16,2.16,0,0,1,266.2,449l28.17-28.17Z" transform="translate(-265.58 -388.95)" />
                            </svg>
                        </button>
                    </div>
                    <!-- modal body -->
                    <div class="modal-body py-4 px-6">
                        <p>Bạn có chắc muốn xóa tài khoản này?</p>
                    </div>
                    <!-- modal footer -->
                    <div class="modal-footer flex justify-end py-4 px-6">
                        <button id="modal-delete-cancel" class="modal-close px-4 bg-[#cccccc] p-2 rounded-lg text-white hover:bg-[#cccccc]/[.9] transition">Hủy</button>
                        <button id="modal-delete-confirm" class="bg-[#FF6827] text-white hover:bg-[#FF6827]/[.9] transition px-4 ml-2 p-2 rounded-lg">Xóa</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    const deleteButtons = document.querySelectorAll('a[data-delete]');
    const modalDelete = document.getElementById('deleteModal');
    const cancelDeleteBtn = document.getElementById('modal-delete-cancel');
    const confirmDeleteBtn = document.getElementById('modal-delete-confirm');
    const modalDeleteCloseBtn = document.getElementById('modal-delete-close');

    function showDeleteModal(deleteLink) {
        const confirmDeleteBtn = document.getElementById('modal-delete-confirm');
        confirmDeleteBtn.dataset.delete = deleteLink.dataset.delete;
        modalDelete.style.display = 'block';
    }
    confirmDeleteBtn.addEventListener('click', () => {
        const deleteFormId = confirmDeleteBtn.dataset.delete;
        const deleteForm = document.getElementById(`delete-form-${deleteFormId}`);
        deleteForm.action = `/CustomerManagement/DeleteCustomer/${deleteFormId}`;
        deleteForm.submit();
    });
    cancelDeleteBtn.addEventListener('click', () => {
        modalDelete.style.display = 'none';
    })
    modalDeleteCloseBtn.addEventListener('click', () => {
        modalDelete.style.display = 'none';
    })
    function enableSubmit() {
        document.getElementById("submitBtn").removeAttribute("disabled");
    }

    function disableSubmit() {
        if (document.querySelector(".input__search").value.length === 0) {
            document.getElementById("submitBtn").setAttribute("disabled", "true");
        }
    }
</script>