@using Microsoft.AspNetCore.Authentication.Cookies
@using System.Security.Claims
@using LIGHTEX.Data
@using Microsoft.AspNetCore.Http
@using System.Diagnostics;
@using System.Linq;
@using Microsoft.EntityFrameworkCore;
@inject IHttpContextAccessor HttpContextAccessor
@model LIGHTEX.Models.Product;
@{
    ViewBag.Title = "Chỉnh sửa sản phẩm";
    Layout = "_LayoutAdmin";
    var context = HttpContextAccessor?.HttpContext?.RequestServices.GetService(typeof(LIGHTEXContext)) as LIGHTEXContext;
    var product = await context.Product.FirstOrDefaultAsync(p => p.id_product == @Model.id_product);

    var categories = await context.Category.ToListAsync();
    var brands = await context.Brand.ToListAsync();
}
<body>
    <div class="text-xl flex flex-col justify-center items-center mt-5 md:mt-0 relative">
        <h1 class="text-2xl lg:text-4xl text-black font-bold mb-4 text-center">Chỉnh sửa sản phẩm</h1>
        <a class="w-12 h-12 p-3 md:hover:-translate-x-3 hover:cursor-pointer transition-all absolute top-0 left-0" asp-area="" asp-controller="ProductManagement" asp-action="Index">
            <svg class="fill-[#333333] w-full h-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 58.08 35.27">
                <path d="M275.89,418.65h48.44a2.16,2.16,0,1,1,0,4.31H275.38l12.5,11.76a2.13,2.13,0,0,1,.09,3,2.16,2.16,0,0,1-3,.11L269.09,423a2.2,2.2,0,0,1-.68-1.7,2.15,2.15,0,0,1,.59-1.59l14.88-15.85A2.15,2.15,0,0,1,287,406.8Z" transform="translate(-268.4 -403.17)" />
            </svg>
        </a>
        <div class="relative group flex justify-center items-center w-36 h-36 lg:hover:scale-125 transition-all hidden" id="image-preview-container">
            <img class="w-24 h-24 transition-all z-20 object-cover" id="image-preview" alt="Icon" src="data:image/png;base64,@(Convert.ToBase64String(product.image))" />
        </div>

        <div class="relative group flex justify-center items-center w-36 h-36 lg:hover:scale-125 transition-all block" id="image-default-container">
            <img class="w-24 h-24 transition-all z-20 object-cover" src="data:image/png;base64,@(Convert.ToBase64String(product.image))" alt="Avatar" />
        </div>

        <form method="post" action="@Url.Action("UpdateProduct", "ProductManagement")" enctype="multipart/form-data">
            <div class="modal-body py-4 px-6">
                <div class="flex flex-col justify-center items-center">
                    <div class="my-3">
                        <label for="image-upload" class="bg-gray-100 rounded-lg px-5 py-2 focus:border border-[#FF6827] focus:outline-none text-gray-400 placeholder:opacity-50 font-semibold hover:cursor-pointer">
                            Chọn hình ảnh
                        </label>
                        <input id="image-upload" name="image" type="file" class="hidden" onchange="previewImage(event)" oninput="checkImage(event)">
                    </div>
                    <div class="mt-3 w-full">
                        <input type="hidden" placeholder="Mã" asp-for="id_product" value="@Model.id_product" readonly
                               class=" bg-gray-100 rounded-lg px-5 py-2 focus:border border-[#FF6827] focus:outline-none text-black placeholder:text-gray-600 placeholder:opacity-50 font-semibold w-full">
                    </div>
                    <div class="mt-3 w-full">
                        <input type="text" placeholder="Tên sản phẩm" asp-for="name"
                               class=" bg-gray-100 rounded-lg px-5 py-2 focus:border border-[#FF6827] focus:outline-none text-black placeholder:text-gray-600 placeholder:opacity-50 font-semibold w-full">
                    </div>
                    <div class="mt-3 w-full">
                        <textarea type="text" cols="0" rows="4" placeholder="Thông tin" asp-for="information"
                                  class=" bg-gray-100 rounded-lg px-5 py-2 focus:border border-[#FF6827] focus:outline-none text-black placeholder:text-gray-600 placeholder:opacity-50 font-semibold w-full h-48"></textarea>
                    </div>
                    <div class="mt-3 w-full">
                        <input type="number" placeholder="Giá" asp-for="price"
                               class="bg-gray-100 rounded-lg px-5 py-2 focus:border border-[#FF6827] focus:outline-none text-black placeholder:text-gray-600 placeholder:opacity-50 font-semibold w-full">
                    </div>
                    <div class="mt-3 w-full group relative">
                        <select asp-for="id_category" asp-selected-value="@Model.id_category" class="lg:group-hover:cursor-pointer bg-gray-100 rounded-lg px-5 py-2 focus:border border-[#FF6827] focus:outline-none text-black font-semibold w-full">
                            <option value="0" disabled class="text-gray-600 opacity-50">Chọn loại sản phẩm</option>
                            @foreach (var category in categories)
                            {
                                <option value="@category.id_category">@category.name</option>
                            }
                        </select>
                        <svg class="absolute top-[40%] right-5 fill-[#333333] lg:group-hover:fill-[#FF6827] lg:group-hover:scale-125 lg:group-hover:cursor-pointer w-5 h-auto transition-all z-20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 58.63 31.47">
                            <path d="M268.73,408.74a2.16,2.16,0,0,1,3.06-3.06l25.66,25.66,25.62-25.66a2.16,2.16,0,0,1,3.06,3.06L299,435.9a2.12,2.12,0,0,1-3,0Z" transform="translate(-268.12 -405.07)" />
                        </svg>
                    </div>

                    <div class="mt-3 w-full group relative">
                        <select asp-for="id_brand" asp-selected-value="@Model.id_brand" class="lg:group-hover:cursor-pointer bg-gray-100 rounded-lg px-5 py-2 focus:border border-[#FF6827] focus:outline-none text-black font-semibold w-full">
                            <option value="0" disabled class="text-gray-600 opacity-50">Chọn nhãn hàng</option>
                            @foreach (var brand in brands)
                            {
                                <option value="@brand.id_brand">@brand.name</option>
                            }
                        </select>
                        <svg class="absolute top-[40%] right-5 fill-[#333333] lg:group-hover:fill-[#FF6827] lg:group-hover:scale-125 lg:group-hover:cursor-pointer w-5 h-auto transition-all z-20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 58.63 31.47">
                            <path d="M268.73,408.74a2.16,2.16,0,0,1,3.06-3.06l25.66,25.66,25.62-25.66a2.16,2.16,0,0,1,3.06,3.06L299,435.9a2.12,2.12,0,0,1-3,0Z" transform="translate(-268.12 -405.07)" />
                        </svg>
                    </div>
                    <div class="mt-3 w-full group flex justify-between items-center">
                        <div class="flex gap-2">
                            <input type="radio" id="topDown" name="effect" value="0" @if(product.effect == 0){<text>checked</text>}>
                            <p for="topDown">Top Down</p>
                        </div>
                        <div class="flex gap-2">
                            <input type="radio" id="zoom" name="effect" value="1" @if(product.effect == 1){<text>checked</text>}>
                            <p for="zoom">Zoom</p>
                        </div>
                    </div>
                    <div class="mt-3 w-full flex justify-start items-center group gap-2 hover:cursor-pointer">
                        <input type="checkbox" asp-for="status" class="h-5 w-5" id="activeCheckbox">
                        <p class="text-black group-hover:text-[#FF6827] font-semibold" onclick="toggleCheckbox(event)" id="statusText">Trạng thái</p>
                    </div>
                    @if (ViewBag.ErrorMessage != null)
                    {
                        <p class="mt-4 text-[#FF0000]">@ViewBag.ErrorMessage</p>
                    }
                </div>
                <div class="text-center mt-7">
                    <button type="submit" class="uppercase px-24 md:px-[118px] lg:px-[140px] py-2 rounded-md text-white bg-[#FF6827] hover:bg-[#FF6827]/[.9] font-medium">
                        Chỉnh sửa
                    </button>
                </div>
            </div>
        </form>
    </div>
</body>
<script>
    function previewImage(event) {
        var input = event.target;
        var preview = document.getElementById('image-preview');
        var previewContainer = document.getElementById('image-preview-container');
        var defaultContainer = document.getElementById('image-default-container');
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                preview.src = e.target.result;
                previewContainer.classList.remove('hidden');
                defaultContainer.classList.add('hidden');
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    function checkImage(event) {
        var input = event.target;
        var previewContainer = document.getElementById('image-preview-container');
        var defaultContainer = document.getElementById('image-default-container');
        if (!input.files || !input.files[0]) {
            previewContainer.classList.add('hidden');
            defaultContainer.classList.remove('hidden');
        }
    }

    var checkbox = document.getElementById('activeCheckbox');
    var statusText = document.getElementById('statusText');

    function toggleCheckbox(event) {
        var checkbox = event.target.previousElementSibling;
        checkbox.checked = !checkbox.checked;

        if (checkbox.checked) {
            statusText.innerText = "Mở khóa";
        } else {
            statusText.innerText = "Khóa";
        }
    }


    checkbox.addEventListener('change', function () {
        if (this.checked) {
            statusText.innerText = "Mở khóa";
        } else {
            statusText.innerText = "Khóa";
        }
    });
</script>