@using Microsoft.AspNetCore.Authentication.Cookies
@using System.Security.Claims
@using LIGHTEX.Data
@using Microsoft.AspNetCore.Http
@using System.Diagnostics;
@using System.Linq;
@using Microsoft.EntityFrameworkCore;
@using System.Globalization;
@inject IHttpContextAccessor HttpContextAccessor;
@model LIGHTEX.Models.OrderDetailViewModel;
@{
    ViewBag.Title = "Chi tiết đơn hàng";
    Layout = "_LayoutAdmin";
    var context = HttpContextAccessor?.HttpContext?.RequestServices.GetService(typeof(LIGHTEXContext)) as LIGHTEXContext;
    var bill = await context.Bill.FirstOrDefaultAsync(c => c.id_bill == @Model.id_bill);
}
<body>
    <div class="text-xl flex flex-col justify-center items-center mt-5 md:mt-0 relative">
        <h1 class="text-2xl lg:text-4xl text-black font-bold mb-4 text-center">Chi tiết đơn hàng</h1>
        <a class="w-12 h-12 p-3 md:hover:-translate-x-3 hover:cursor-pointer transition-all absolute top-0 left-0" asp-area="" asp-controller="OrderManagement" asp-action="Index">
            <svg class="fill-[#333333] w-full h-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 58.08 35.27">
                <path d="M275.89,418.65h48.44a2.16,2.16,0,1,1,0,4.31H275.38l12.5,11.76a2.13,2.13,0,0,1,.09,3,2.16,2.16,0,0,1-3,.11L269.09,423a2.2,2.2,0,0,1-.68-1.7,2.15,2.15,0,0,1,.59-1.59l14.88-15.85A2.15,2.15,0,0,1,287,406.8Z" transform="translate(-268.4 -403.17)" />
            </svg>
        </a>
        <form class="w-full" method="post" action="@Url.Action("UpdateDetail", "OrderManagement")" enctype="multipart/form-data">
            <div class="modal-body py-4 px-6">
                <div class="flex justify-center items-center gap-20">
                    <div class="flex flex-col justify-center items-center">
                        <div class="mt-3 w-full flex gap-2">
                            <input type="hidden" asp-for="id_bill" value="@Model.id_bill" readonly
                                   class=" bg-gray-100 rounded-lg px-5 py-2 focus:border border-[#FF6827] focus:outline-none text-black placeholder:text-gray-600 placeholder:opacity-50 font-semibold w-full">
                        </div>
                        <div class="mt-3 w-full flex gap-2">
                            <input type="hidden" asp-for="payments" value="@Model.payments" readonly
                                   class=" bg-gray-100 rounded-lg px-5 py-2 focus:border border-[#FF6827] focus:outline-none text-black placeholder:text-gray-600 placeholder:opacity-50 font-semibold w-full">
                        </div>
                        <div class="mt-2 w-full flex gap-2 items-center">
                            <label>Tài khoản người mua:</label>
                            <p class="text-black font-semibold">@Model.username</p>
                        </div>
                        <div class="mt-2 w-full flex gap-2 items-center">
                            <label>Tên người mua:</label>
                            <p class="text-black font-semibold">@Model.full_name</p>
                        </div>
                        <div class="mt-2 w-full flex gap-2 items-center">
                            <label>Sản phẩm:</label>
                            <p class="text-black font-semibold">@Model.product</p>
                        </div>
                        <div class="mt-2 w-full flex gap-2 items-center">
                            <label>Loại sản phẩm:</label>
                            <p class="text-black font-semibold">@Model.category</p>
                        </div>
                        <div class="mt-2 w-full flex gap-2 items-center">
                            <label>Nhãn hàng:</label>
                            <p class="text-black font-semibold">@Model.brand</p>
                        </div>
                        <div class="mt-2 w-full flex gap-2 items-center">
                            <label>Tổng tiền:</label>
                            <p class="text-black font-semibold">@Model.price.ToString("N0", CultureInfo.CreateSpecificCulture("de-DE")).Replace(",", ".")đ</p>
                            <p class="text-black font-semibold">x</p>
                            <p class="text-black font-semibold">@Model.quantity</p>
                            <p class="text-black font-semibold">=</p>
                            @{
                                var total = Model.price * Model.quantity;
                                <p class="text-xl text-[#FF6827] font-bold">@total.ToString("N0", CultureInfo.CreateSpecificCulture("de-DE")).Replace(",", ".")đ</p>
                            }
                        </div>
                        <div class="mt-2 w-full flex gap-2 items-center">
                            <label>Hình thức thanh toán:</label>
                            @if (@Model.payments == 0)
                            {
                                <p class="text-black font-semibold">Khi nhận hàng</p>
                            }
                            else if (@Model.payments == 1)
                            {
                                <p class="text-black font-semibold">Ví LIGHTEX</p>
                            }
                        </div>
                        <div class="mt-2 w-full flex gap-2 items-center">
                            <label>Ngày đặt:</label>
                            <p class="text-black font-semibold">@Model.create_date</p>
                        </div>
                        <div class="mt-2 w-full flex gap-2 items-center">
                            <label>Ngày giao:</label>
                            <input type="date" asp-for="ship_date" value="@Model.ship_date.ToString("yyyy-MM-dd")"
                                   class="w-60 bg-gray-100 rounded-lg px-5 py-2 focus:border border-[#FF6827] focus:outline-none text-black placeholder:text-gray-600 placeholder:opacity-50 font-semibold">
                        </div>
                        <div class="mt-3 w-full flex gap-2 items-center">
                            <label>Trạng thái:</label>
                            <div class="group relative w-60">
                                <select asp-for="status" asp-selected-value="@Model.status" class="w-full lg:group-hover:cursor-pointer bg-gray-100 rounded-lg px-5 py-2 focus:border border-[#FF6827] focus:outline-none text-black font-semibold">
                                    <option value="0">Chờ xác nhận</option>
                                    <option value="1">Đang giao</option>
                                    <option value="2">Hoàn thành</option>
                                    <option value="3">Hủy</option>
                                    <option value="4">Trả hàng</option>
                                </select>
                                <svg class="absolute top-[40%] right-5 fill-[#333333] lg:group-hover:fill-[#FF6827] lg:group-hover:scale-125 lg:group-hover:cursor-pointer w-5 h-auto transition-all z-20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 58.63 31.47">
                                    <path d="M268.73,408.74a2.16,2.16,0,0,1,3.06-3.06l25.66,25.66,25.62-25.66a2.16,2.16,0,0,1,3.06,3.06L299,435.9a2.12,2.12,0,0,1-3,0Z" transform="translate(-268.12 -405.07)" />
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div>
                        <img class="w-60 h-auto" src="data:image/png;base64,@(Convert.ToBase64String(Model.image))" alt="image" />
                    </div>
                    @if (ViewBag.ErrorMessage != null)
                    {
                        <p class="mt-4 text-[#FF0000]">@ViewBag.ErrorMessage</p>
                    }
                </div>

                <div class="text-center mt-7">
                    @if (@Model.status != 4)
                    {
                        <button type="submit" class="uppercase px-24 md:px-[118px] lg:px-[140px] py-2 rounded-md text-white bg-[#FF6827] hover:bg-[#FF6827]/[.9] font-medium">
                            Cập nhật
                        </button>
                    }
                </div>
            </div>
        </form>
    </div>
</body>
<script>

</script>